<!doctype html>
<title>{% block title %}{% endblock %}</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
  <h1>Mingzhe Hu</h1>
  <ul>
    <li><a href="{{ url_for('index') }}">Posts</a></li>
    <li><a href="{{ url_for('about') }}">About</a></li>
    <li><a href="{{ url_for('projects') }}">Projects</a></li>
  </ul>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% block content %}{% endblock %}
</section>
<div class="footer">
  <a href="http://www.beian.miit.gov.cn/" target="_blank">苏ICP备19075629号-1</a>
</div>