{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Posts{% endblock %}</h1>
{% endblock %}

{% block content %}
<div>
    <div class="post">
        <a href="{{ url_for('static', filename='posts/20200614-PythonCallByWhat.html') }}" target="_blank">Python Call by What</a>
    </div>
    <div class="post">
        <a href="{{ url_for('static', filename='posts/20200605-语言特性.html') }}" target="_blank">语言特性</a>
    </div>
    <div class="post">
        <a href="{{ url_for('static', filename='posts/20200517-新冠病毒的核酸检测与抗体检测.html') }}" target="_blank">新冠病毒的核酸检测与抗体检测</a>
    </div>
    <div class="post">
        <a href="{{ url_for('static', filename='posts/20200406-简单地从类型系统的角度看编程语言.html') }}" target="_blank">简单地从类型系统的角度看编程语言</a>
    </div>
    <div class="post">
        <a href="{{ url_for('static', filename='posts/20200211-PythonBytecodeDisassembler.html') }}" target="_blank">Python Bytecode Disassembler</a>
    </div>
    <div class="post">
        <a href="{{ url_for('static', filename='posts/20190628-罗素《幸福之路》摘录.html') }}" target="_blank">罗素《幸福之路》摘录</a>
    </div>
</div>
{% endblock %}